In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# https://www.statista.com/statistics/184691/internet-usage-in-the-us-by-state/
# https://www.statista.com/statistics/221454/share-of-religious-americans-by-state/

In [ ]:
df = pd.read_csv('internet_penetration.csv')
# Less than 80% is zero.
# more than 80% is 1.

In [ ]:
df.head()

        State  Internet penetration
0     Alabama                     1
1      Alaska                     0
2     Arizona                     1
3    Arkansas                     1
4  California                     0

In [ ]:
df1 = pd.read_csv('political_affiliation_statewise.csv')

In [ ]:
df1.head()

        State  Governor Political Affiliation
0     Alabama                               0
1      Alaska                               0
2     Arizona                               0
3    Arkansas                               0
4  California                               1

In [ ]:
df_merge = pd.merge(df,df1, on = 'State')

In [ ]:
df_merge.head()

        State  Internet penetration  Governor Political Affiliation
0     Alabama                     1                               0
1      Alaska                     0                               0
2     Arizona                     1                               0
3    Arkansas                     1                               0
4  California                     0                               1

In [ ]:
# Republican is zero.
# Democrat is 1 .

In [ ]:
df2 = pd.read_csv('Race_demographics_statewise.csv')

In [ ]:
df2.head()

        State  WhiteTotalPerc  ...  HawaiianTotalPerc  OtherTotalPerc
0     Alabama          0.6809  ...             0.0005          0.0334
1      Alaska          0.6458  ...             0.0125          0.0976
2     Arizona          0.7722  ...             0.0021          0.1026
3    Arkansas          0.7672  ...             0.0029          0.0547
4  California          0.5970  ...             0.0040          0.1885

[5 rows x 7 columns]

In [ ]:
df_merge_2 = pd.merge(df_merge,df2, on = 'State')

In [ ]:
df_merge_2.head()

        State  Internet penetration  ...  HawaiianTotalPerc  OtherTotalPerc
0     Alabama                     1  ...             0.0005          0.0334
1      Alaska                     0  ...             0.0125          0.0976
2     Arizona                     1  ...             0.0021          0.1026
3    Arkansas                     1  ...             0.0029          0.0547
4  California                     0  ...             0.0040          0.1885

[5 rows x 9 columns]

In [ ]:
df3 = pd.read_csv('Religion_by_state.csv')
# less than 50 is zero..highly religious
# more than 50 is 1 ..moderate to low on religion

In [ ]:
df3.head()

        State  Strength of Religion
0     Alabama                     1
1      Alaska                     0
2     Arizona                     0
3    Arkansas                     1
4  California                     0

In [ ]:
df_merge_3 = pd.merge(df_merge_2,df3, on = 'State')

In [ ]:
df_merge_3.head()

        State  Internet penetration  ...  OtherTotalPerc  Strength of Religion
0     Alabama                     1  ...          0.0334                     1
1      Alaska                     0  ...          0.0976                     0
2     Arizona                     1  ...          0.1026                     0
3    Arkansas                     1  ...          0.0547                     1
4  California                     0  ...          0.1885                     0

[5 rows x 10 columns]

In [ ]:
df4 = pd.read_csv('vaccines_by_state.csv')

In [ ]:
df4.head()

        State  ... Share of Population Fully Vaccinated
0     Alabama  ...                                0.437
1      Alaska  ...                                0.513
2     Arizona  ...                                0.520
3    Arkansas  ...                                0.465
4  California  ...                                0.600

[5 rows x 8 columns]

In [ ]:
df_final = pd.merge(df_merge_3,df4,on = 'State')

In [ ]:
df_final.head()

        State  ...  Share of Population Fully Vaccinated
0     Alabama  ...                                 0.437
1      Alaska  ...                                 0.513
2     Arizona  ...                                 0.520
3    Arkansas  ...                                 0.465
4  California  ...                                 0.600

[5 rows x 17 columns]

In [ ]:
df_final.drop(df_final.columns[[6,7,8,10,11,12]], axis = 1, inplace = True)
# without unncessary columns

In [ ]:
df_final.head()

        State  ...  Share of Population Fully Vaccinated
0     Alabama  ...                                 0.437
1      Alaska  ...                                 0.513
2     Arizona  ...                                 0.520
3    Arkansas  ...                                 0.465
4  California  ...                                 0.600

[5 rows x 11 columns]

In [ ]:
from scipy import stats

*Point-serial correlation between continuous and categorical variables*

In [ ]:
CATEGORICAL_VARIABLES = ["Internet penetration", 
                       "Governor Political Affiliation", 
                       "Strength of Religion", 
                       "WhiteTotalPerc", 
                       "BlackTotalPerc", 
                       "IndianTotalPerc"]

for c in CATEGORICAL_VARIABLES:
    if c not in ["Internet penetration", "Governor Political Affiliation", "Strength of Religion"]:
        correlation = stats.pearsonr(df_final[c], df_final["Share of Population Fully Vaccinated"])
    else:
        correlation = stats.pointbiserialr(df_final[c], df_final["Share of Population Fully Vaccinated"])
    print("Correlation of %s to share of population fully vaccinated is %s" %(c, correlation))

Correlation of Internet penetration to share of population fully vaccinated is PointbiserialrResult(correlation=0.07679548668479814, pvalue=0.592217522402421)
Correlation of Governor Political Affiliation to share of population fully vaccinated is PointbiserialrResult(correlation=0.49700105262145045, pvalue=0.0002073039120343955)
Correlation of Strength of Religion to share of population fully vaccinated is PointbiserialrResult(correlation=-0.377756789995258, pvalue=0.006277696577506034)
Correlation of WhiteTotalPerc to share of population fully vaccinated is (-0.0637673925843958, 0.6566424345558499)
Correlation of BlackTotalPerc to share of population fully vaccinated is (-0.1401896273267333, 0.3264986433082925)
Correlation of IndianTotalPerc to share of population fully vaccinated is (-0.15210763547200326, 0.28662650098789044)

In [ ]:
#df_final.corr()

                                                    Internet penetration  ...  Share of Population Fully Vaccinated
Internet penetration                                            1.000000  ...                              0.076795
Governor Political Affiliation                                 -0.134259  ...                              0.497001
WhiteTotalPerc                                                  0.053104  ...                             -0.063767
BlackTotalPerc                                                 -0.121198  ...                             -0.140190
IndianTotalPerc                                                -0.086196  ...                             -0.152108
Strength of Religion                                            0.100411  ...                             -0.377757
Share of Population Vaccinated with At Least On...              0.041170  ...                              0.945006
Share of Population Fully Vaccinated                            0.076795  ...                              1.000000

[8 rows x 8 columns]

In [ ]:
#import seaborn as sns

In [ ]:
# sns.heatmap(df_final.corr(), cmap='Reds', annot=True)
# plt.title('Correlation Matrix');